.landing{
  background-image: url('/assets/landing.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.landing::after{
  position: absolute;
  top: 0;
  left: 0;
  content: url('/assets/landing-overlay.png');
  /* width: 100%;
  height: 100%; */
  z-index: 10;

}
.navBar {
  font-weight: 300;
  position: relative;
  z-index: 20;
  border-bottom: 1px solid #F8F8F8;
}
.navBar .info {
  font-size: 14px;
}

.navBar details{
  position: relative;
}
.navBar details::after {
  position: absolute;
  content: '';
  background-color: #F8F8F8;
  width: 1px;
  height: 70%;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.navBar details summary{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 300 !important;
  padding: 0;
}
.navBar details  ul {
  color: black;
}
.navBar ul.social{
  display: flex;
  align-items: center;
  gap: 26px;
}
.main-ul {
  font-size: 15px;
}
.main-ul li {
  cursor: pointer;
}
.landing-text{
  position: relative;
  z-index: 30;
}
.landing-text h2{
  font-size: 46px;
  width: 53%;
  color: white;
  font-weight: 300;
  text-align: center;
  margin: 100px auto 50px;
}
.landing .trf{
  z-index: 1000;
}
.main-btn{
  background-color: #3EFFFF;
  font-size: 14px;
  color: black;
  border-radius: 7px;
  padding: 12px 60px;
  cursor: pointer;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.17);

}
.bg{
  background-image: url('/assets/bg.png')
}
.aboutus{
  color: white;
 
}
.aboutus .about-imgs{
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;

  position: relative;

}
.aboutus .about-imgs img {
  width: 87%;
  position: relative;
  z-index: 333;
}
.aboutus .about-imgs::after{
  position: absolute;
  content: '';
  width: 354px;
  height: 412px;
  bottom: -15px;
  right: 65px;
  z-index: 33;
  background-color: #3EFFFF;
}
.aboutus .about-imgs::before{
  position: absolute;
  content: '';
  width: 376px;
  height: 356px;
  top: -15px;
  left: -15px;
  z-index: 33;
  background-color: #3EFFFF;
}
.aboutus > div > section > section:first-of-type{
  flex-basis: 40%;
}

.aboutus > div > section > section:first-of-type h5 {
width: fit-content;
font-size: 30px;

}

.aboutus > div > section > section:first-of-type h3 {
  font-size: 22px;
  width: fit-content;
  color: #A5A5A5;
  border-left: 1px solid white;
  padding-left: 10px;
  margin-bottom: 40px;
}
.aboutus > div > section > section:first-of-type h2{
font-size: 22px;
margin-bottom: 14px;
}
.aboutus > div > section > section:first-of-type p {
  color: #A5A5A5;
  font-size: 15px;
}

.advantages {
  text-align: center;
  color: white;
}
.h4main {
font-size: 28px;
color: white;
}

.advantages > div > section > p {
  color: #787878;
  font-size: 22px;
  margin-top: 10px;
}

.advantages .mySwiper .box {
  border-radius: 10px;
  border: 2px solid var(--Liner2, #76CAD4);
  background: #031723;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  height: 340px;
}
.advantages .mySwiper .box img {
  margin: 4px auto 40px;
  width: 29%;
}
.advantages .mySwiper .box h3 {
  font-size: 17px;
  margin-bottom: 11px;
  font-weight: 300;
}
.advantages .mySwiper .box p {
  font-size: 15px;
  color: #A5A5A5;

}
.products {
  background: #031723 url(/assets/bg.png);
  background-position: -21% 108%;
}
.products > div > section > p {
  color: #787878;
    font-size: 22px;
    margin-top: 10px;

}

.swiper-div {
  height: 600px;
  background-position-y: center;
  padding: 30px 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: flex-end ;
  overflow: hidden;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
}
.swiper-div:hover{
  outline: 1px solid #3EFFFF;
}
.swiper-div::after{
  position: absolute;
  content: url('/assets/overlay.png');
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 30;
}
.swiper-div:hover::after{
  opacity: 1;
}
.s1{
  background-image: url('/assets/products1.png');

}
.s2 {
  background-image: url('/assets/products2.png');
}
 .swiper-div h2{
color: #fff;
font-size: 25px;
position: relative;
z-index: 100;
text-align: center;
margin: 3px auto;

}
 .swiper-div p{
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  line-height: 28px;
  position: relative;
z-index: 100;
transition: 0.4s;
}
.swiper-div:hover p {
  margin-bottom: 50px;
}
.swiper-pagination{
 bottom: -50px;
}
.swiper{
  overflow-y: visible !important;
}
.swiper-pagination-bullet{
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #3EFFFF !important;
  background-color: #031723 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background-color: #3EFFFF !important;
  border: 3px solid #031723 !important;
  outline: 2px solid #3EFFFF !important;

}
.swiper-pagination{
  bottom: -80px !important;
}
.counter{
  background-image: url('/assets/counter.png');
  padding: 200px 10px;
  overflow: hidden;
}
.counter > div > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.counter > div > section > div{
  text-align: center;
  position: relative;
  z-index: 55;
}
.counter > div > section > div h2{
  font-size: 43px;
  font-weight: bold;
  border: 4px solid #76CAD4;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* border-image: linear-gradient(to right,  #76CAD4 , #0F5A85) 1; */
  position: relative;
  /* background: linear-gradient(rgba(255, 255, 255, 0), white) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent; */


}
.counter::after{
  content: url('/assets/newover.png');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;

}

footer{
  background: #05283c url('/assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  padding: 50px 0 20px;
}
footer .foter > div{
flex-basis: calc(100% / 4 - 50px);
}
footer .foter > div:first-of-type{
  flex-basis: 30%;
}
footer .foter > div:first-of-type > img {
  width: 80px;
  /* margin-top: -30px; */
  margin-bottom: 30px;
}
footer .foter > div:first-of-type p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 40px;
}
footer .foter > div:first-of-type ul li {
  background-color: #3EFFFF;
  padding: 15px;
}
footer .foter > div:first-of-type ul li:first-of-type{
  padding: 15px 20px;
}
footer .foter > div:first-of-type ul li:first-of-type img{
  width: 12px;
}
footer .foter > div:first-of-type ul li:last-of-type img   {
  width: 25px;
}
.ssocial ul  li:nth-of-type(3) img{
  width: 25px;

}
.footerhead{
  position: relative;
  font-size: 20px;
  margin-bottom: 40px;
}
.footerhead::after{
  content: '';
  position: absolute;
  bottom: -11px;
  right: 0;
  width: 30%;
  height: 2px;
  background-color: #76CAD4;
}
footer .foter > div:nth-of-type(2) ul li{
display: flex;
font-weight: 300;
margin-bottom: 25px;
align-items: center;
gap: 10px;
font-size: 14px;
}
footer .foter > div:nth-of-type(3) ul li{
  font-weight: 400;
  margin-bottom: 15px;
  gap: 10px;
  font-size: 14px;
  }
  footer .foter > div:last-of-type {
    align-self: center;
  }
  footer .foter > div:last-of-type > div{
display: flex;
align-items: center;
gap: 20px;
text-align: center;
  }

  footer .copyrights{
    text-align: center;
    border-top: 1px solid #979797;
    padding-top: 30px;
    margin-top: 60px;
  }


.pop-btn{
  display: none !important;
  z-index: 10000;
}
@media (max-width: 488px) {
  .pop-btn{
    display: block !important;
  }
  .menu-ul{
    background-color: #0F5A85;
    color: white;
        top: 63%;
    left: 3%;
    padding: 20px 10px;
     z-index: 1000000;
     border-radius: 10px;
     width: 50%;
  }
  
  .menu-ul ul li:not(:last-of-type) {
    width: 100%;
    text-align:center;
  }
  .css-i4bv87-MuiSvgIcon-root{
    color:  white !important;
  }
  .cont{
    justify-content: space-between;
  }
  .main-ul{
    display: none !important;
  }
  .lang , .dropdown , .social {
    display: none !important;
  }
  .trf{
    justify-content: space-between;
  }
  .info{
    flex-wrap: wrap;
    gap: 10px !important;
  }
  .swiper-div{
    width: fit-content;
    padding: 20px;
    height: 480px;
  }
  .user-login{
    width: 170px;
    justify-content: flex-end;
  }
  .main-page .landing h2 {
    width: 100%;
    font-size: 35px;
  }
  .aboutus > div > section > section:first-of-type h3{
    width: 100%;
    border-left-width: 0 ;
  }
.aboutus .about-imgs img{
  width: 100%;
}
  .aboutus > div > section > section:first-of-type{
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .advantages{
    padding-top: 4rem !important;
  }
  .advantages .cards{
    flex-wrap: wrap;
  }
  .advantages .cards .card{
    flex-basis: 100%;
  }
  .products .products-card{
    flex-wrap: wrap;
  }
  .products .products-card .product{
    flex-basis: 100%;
  }
  .products .products-card .product div{
    padding: 20px 30px;
  }
  .stratigy .swiper-div h2{
    width: 100%;
  }
  .stratigy .swiper-div p{
    width: 100%;
  }
  .stratigy .swiper-div{
    height: 100%;
    background-position: 30%;
  }
  .counter{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 85%;
    padding: 140px 10px;
  }
  .trf > img {
    width: 24% !important;
  }
  .counter > div > section{
    flex-wrap: wrap;
    justify-content: center;
  }
  .counter > div > section > div{
    margin-bottom: 40px;
  }
  .counter::after{
   display: none;
  
  }
  .foter{
    flex-wrap: wrap;
    gap: 0rem !important;
  }
  .foter > div {
    flex-basis: 100% !important;
  }

 .about-imgs::after , .about-imgs::before{
  display: none;
 }
}